/* HomePage.css */


.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

html, body {
  margin: 0;
  padding: 0;
}

.home-page-options {
  display: flex;
  justify-content: space-around;
  width: 80%;

}

.home-page-option {
  background-color: white;
  padding: 20px; 
  border-radius: 45px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: var(--text-color);
  font-size: 25px;
  width: 300px; /* Add this */
  margin: 10px;
  text-align: center;
}

.home-page-option:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

/* Media query for smaller screens */
@media (max-width: 768px) { /* Adjust breakpoint as needed */
  .home-page-options {
    flex-direction: column;
    align-items: center; 
  }

  .home-page-option {
    flex: 1 0 100%; /* Take full width on smaller screens */
    margin-bottom: 20px; 
  }
}