/* LoginPage.css */
.login-page {
    background-color: var(--background-color); 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    background-color: white;
    padding: 60px;
    border-radius: 45px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: var(--text-color); 
    font-size: larger;
  }